// List all pages
.page
    position relative
    min-height 100vh
    padding 20px
    background linear-gradient(to top right, color-purple, color-pink)
    box-sizing border-box

    &-flex
        display flex
        align-items center
        justify-content center
